.list {
  ul {
    list-style: none;
    width: 100%;
    height: 100%;
    column-count: 4;
    li {
      font-size: 1.5rem;
      text-align: center;
      background-color: $color-platinium;
      padding: 1rem;
    }
  }
}
