.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 5rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-platinium, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &--dark {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-white;
    }

    &:disabled {
      background-color: $color-disabled;
    }
  }

  &--light {
    background-color: $color-primary-light;
    color: $color-white;

    &::after {
      background-color: $color-white;
    }
  }

  &--user-info {
    padding: 2.5rem;
  }
  &--buy-button {
    display: block;

    text-align: center;
    color: #000;
    padding: 12px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: $color-orange;
    border-radius: 6px;
    letter-spacing: 1.5px;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
