.section-upload {
  @include center;
  color: $color-text;
  font-size: 2rem;
}

.section-listing {
  font-size: 2rem;
  @include respond(phone) {
    font-size: 1.2rem;
  }
}

.icon {
  font-size: 7rem;
  color: $color-primary;

  @include respond(phone) {
    font-size: 3rem;
  }
}
