//COLORS
$color-primary: #0058cc;
$color-primary-light: #1f80ff;
$color-primary-dark: #2a3c30;

$color-secondary-light: #403e46;
$color-secondary-dark: #35333f;

$color-black-coffe: #32292f;

$color-green: #2a9d8f;
$color-dark-green: #0d302c;

$color-platinium: #dfe2e0;

$color-disabled: #e4e4dd;

$color-white: white;

$color-space: #1b264f;

$color-text: #000914;
